


body
{
 background: black;
}
h2
   {
    
    color:white;
   }
   

th
   {
    background-color: goldenrod;
    font-size: 14px;
   }   
td
   {
    background-color: greenyellow;
    font-size: 14px;
   }
   
thead
    {
    font-family: white;
    }
